block head
    html(lang="en")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    //- link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700", rel="stylesheet")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="shortcut icon", type="image/png", href="/img/favicon.png")
    script(src="/assets/jquery/jquery.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.all.min.js")
    script(src="/assets/axios.min.js")
    title Natours | #{title}

include _header

block content

include _footer